body {
  font-family: sans-serif;
  background: #eee;
  padding: 20px;
}

.card {
  background: white;
  padding: 20px;
  max-width: 1000px;
  margin: 0 auto;
}

/* Desktop: 2 columns form 66%, table 33% */
 main {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 20px;
  align-items: start;
}

/* adjusts for iphone vs web*/
@media (max-width: 600px) {
  main {
    grid-template-columns: 1fr;
  }
}


fieldset {
  margin-bottom: 20px;
  border: 1px solid #ccc;
}

/* Form grid */
.form-grid {
  display: grid;
  grid-template-columns: 150px 1fr;
  gap: 10px;
  row-gap: 20px; 
  align-items: center;
}

/* limiting input width so boxes aren’t huge */
input,
select {
  max-width: 200px;
}


label {
  text-align: right;
  font-weight: bold;
}

/* Flex rows radio/checkbox groups */
.flex-row {
  display: flex;
  gap: 16px;
  margin-top: 5px;
  flex-wrap: wrap;
}

/* Don’t bold the option text inside flex groups */
.flex-row label {
  font-weight: normal;
  text-align: left;
}

/* Validation */
input:valid, select:valid { border: 2px solid green; }

input:not(:placeholder-shown):invalid { border: 2px solid red; }

input[type="datetime-local"]:invalid { border: 1px solid #ccc; }
input[type="datetime-local"]:focus:invalid, select:focus:invalid { border: 2px solid red;}

/* Buttons */ 
.form-buttons {
  display: flex;
  gap: 12px;
  margin-top: 20px;
}

.form-buttons button {
  padding: 8px 18px; 
  font-size: 10px;
}


/* Table */
table { 
    width: 100%; 
    border-collapse: collapse; 
}

caption { 
    font-weight: bold; 
    text-align: left; 
    margin-bottom: 8px; 
}

th, td { 
    border: 1px solid #ccc; 
    padding: 8px; 
}

tbody tr:nth-child(even) { 
    background: #f7f7f7; 
}
tbody tr:hover { 
    background: #e9e9e9; 
}

